<h1>Hello {{currentUser}}</h1>

<div id="banner">
  Have fun with your friends on Yourpic!
</div>

<div id="page">
  <div id="home"><i class="fa fa-home" aria-hidden="true"></i> Home</div>
  <div id="personal"><i class="fa fa-address-card-o" aria-hidden="true"></i> My page</div>
  <div id="sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</div>
  <div id="add-post"><i class="fa fa-plus-circle" aria-hidden="true"></i> New post</div>
  <div id="page-inner">

    <div *ngFor="let story of getStories()" class="panel panel-default">
      <div class="panel-heading">

        Upload by:
        <div class="update">
          {{story.author}}
        </div> on
        <div class="update">
          {{formatDate(story.date)}}
        </div>
      </div>

      <div class="panel-body">
        <div class="container-fluid">
          <div class="post-title">
            {{story.title}}
          </div>

          <span><i class="fa fa-trash-o"></i></span>


          <div class="photo">
          </div>

          <div class="description">
            {{story.description}}
          </div>



          <div class="likes">
            <div class="like" [ngClass]="{'liked': story.getLikes().indexOf(currentUser) > -1, 'not-liked': story.getLikes().indexOf(currentUser) < 0}" (click)="story.toggleLike(currentUser)">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </div>
            <a class="likes-show" (click)="showWhoLiked = !showWhoLiked">{{story.getLikes().length}} likes</a>
            <div *ngIf="showWhoLiked">
              <div *ngFor="let like of story.getLikes()">
                <div>{{like}}</div>
              </div>
            </div>
          </div>

          <div>
            <div *ngFor="let comment of story.getComments()" class="input-group vertical-buffer">
              <span class="input-group-addon">{{comment.user}}</span>
              <input class="form-control" value="{{comment.content}}" readonly>
            </div>
          </div>

          <div class="clear"></div>

          <div>
            <form class="comment-container" #addCommentForm="ngForm" (ngSubmit)="addStoryComment(story, addCommentForm)" novalidate>
              <div class="form-group comment-input">
                <input class="form-control" type="text" name="content" placeholder="Comment..." ngModel required>
              </div>
              <div class="comment-separator"></div>
              <div class="form-group comment-submit">
                <button class="btn btn-primary btn-block">Comment</button>
              </div>
            </form>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>
