<h1>Hello {{currentUser}}</h1>

<div id="banner">
  Have fun with your friends on Yourpic!
</div>

<div id="page">
  <div id="home"><i class="fa fa-home" aria-hidden="true"></i> Home</div>
  <div id="personal"><i class="fa fa-address-card-o" aria-hidden="true"></i> My page</div>
  <div id="sign-out"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</div>
  <div id="add-post"><i class="fa fa-plus-circle" aria-hidden="true"></i> New post</div>
  <div id="page-inner">

    <div *ngFor="let story of getStories()" class="post">
      <div class="details">
        Upload by:
        <div class="update">
          {{story.author}}
        </div> on
        <div class="update">
          {{formatDate(story.date)}}
        </div>
        <div class="post-title">
          {{story.title}}
        </div>

        <div class="delete-post"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
      </div>

      <div class="photo">
      </div>

      <div class="description">
        {{story.description}}
      </div>

      <div class="likes">
        <div class="like" [ngClass]="{'liked': story.getLikes().indexOf(currentUser) > -1, 'not-liked': story.getLikes().indexOf(currentUser) < 0}"
          (click)="story.toggleLike(currentUser)">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </div>
        <div class="number-likes">{{story.getLikes().length}} likes</div>
        <div class="show-likes">Show who liked this post</div>
        <div class="like-names">
          <div class="like-name">like name lucian</div>
        </div>
      </div>

      <div class="comments">

        <div class="comments-container">
          <div *ngFor="let comment of story.getComments()" class="comment-row">
            <div class="comment-user">{{comment.user}}</div>
            <div class="comment">{{comment.content}}</div>
            <div class="clear"></div>
          </div>
        </div>

        <div class="clear"></div>

        <div class="add-comment">
          <form class="form-add-comment" #addCommentForm="ngForm" (ngSubmit)="addStoryComment(story, addCommentForm)" novalidate>
            <input type="text" name="content" placeholder="Comment..." ngModel required>
            <button class="submit-comment">Comment</button>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>
