h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

body {
  margin: 0 !important;
}

.clear {
  clear: both;
}

.vertical-buffer {
  margin-top: 7px;
  margin-bottom: 7px;
}

div#banner {
  height: 350px;
  width: 100%;
  text-align: center;
  line-height: 350px;
  font-size: 70px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,8ebfe5+25,86c1ef+50,7db9e8+75,1e5799+100 */
  background: #1e5799;
  /* Old browsers */
  background: -moz-linear-gradient(left, #1e5799 0%, #8ebfe5 25%, #86c1ef 50%, #7db9e8 75%, #1e5799 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1e5799 0%, #8ebfe5 25%, #86c1ef 50%, #7db9e8 75%, #1e5799 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e5799 0%, #8ebfe5 25%, #86c1ef 50%, #7db9e8 75%, #1e5799 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799', GradientType=1);
  /* IE6-9 */
}

div#page {
  width: 100%;
  padding-top: 50px;
}

div#page-inner {
  width: 50%;
  margin: 0 auto;
}

form#login-form {
  width: 100%;
  height: 300px;
  position: relative;
}

.username {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 100px;
}

.username span {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 30px;
}

.username input {
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  height: 40px;
  width: 400px;
  font-size: 20px;
}

.password {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 100px;
}

.password span {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 30px;
}

.password input {
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  height: 40px;
  width: 400px;
  font-size: 20px;
}

.submit-form {
  display: block;
  top: 220px;
  position: absolute;
  height: 50px;
  width: 200px;
  border: 2px solid;
  border-radius: 25px;
  left: calc(50% - 100px);
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  background-color: #000000;
  color: #ffffff;
}

.submit-form:hover {
  background-color: #ffffff;
  color: #000000;
}

.error-input {
  position: absolute;
  top: 60px;
  left: 50px;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.post {
  border: 2px solid #f6f6f6;
  -webkit-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.75);
  margin-bottom: 70px;
  padding: 30px;
  position: relative;
}

.details {
  font-size: 20px;
  color: #6f6f6f;
  text-align: center;
  margin-bottom: 30px;
}

.update {
  display: inline-block;
  padding: 0 60px;
  color: blue;
}

.post-title {
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  text-align: left;
}

.photo img {
  margin: 0 auto;
  width: 100%;
}

.description {
  font-size: 20px;
  margin-top: 20px;
  color: #6f6f6f;
}

.send-like {
  display: none;
}

.likes {
  margin-top: 50px;
}

.like-names {
  display: none;
  margin-top: 15px;
}

.like {
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
}

.liked {
  color: blue;
}

.not-liked {
  color: #000000;
}

.show-likes {
  display: inline-block;
  font-size: 22px;
  margin-left: 50px;
  cursor: pointer;
}

.like-name {
  font-size: 20px;
  display: inline-block;
  margin-right: 40px;
}

.comment-container {
  width: auto;
  display: flex;
  height: 45px;
  font-size: 20px;
}

.comment-input {
  flex: 80;
  height: 45px;
}

.comment-separator {
  flex: 5;
  height: auto;
}

.comment-submit {
  flex: 15;
  height: inherit;
}

.comment-user {
  display: inline-block;
  width: 20%;
  float: left;
  text-align: center;
  font-size: 25px;
  color: blue;
}

.comment {
  float: right;
  width: calc(80% - 12px);
  font-size: 25px;
  border-left: 2px solid #f6f6f6;
  padding-left: 10px;
}

.comment-row {
  border: 1px solid #000000;
  margin-bottom: 10px;
}

.number-likes {
  display: inline-block;
  font-size: 22px;
  margin-left: 50px;
  cursor: pointer;
}

div#home {
  position: absolute;
  width: 170px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  top: 450px;
  left: 100px;
}

div#home:hover {
  background: transparent;
  color: #000000;
}

div#personal {
  position: absolute;
  width: 170px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  top: 500px;
  left: 100px;
}

div#personal:hover {
  background: transparent;
  color: #000000;
}

div#sign-out {
  position: absolute;
  width: 170px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  top: 550px;
  left: 100px;
}

div#sign-out:hover {
  background: transparent;
  color: #000000;
}

.fixed1 {
  position: fixed !important;
  top: 100px !important;
  left: 100px !important;
}

.fixed2 {
  position: fixed !important;
  top: 150px !important;
  left: 100px !important;
}

.fixed3 {
  position: fixed !important;
  top: 200px !important;
  left: 100px !important;
}

.fixed4 {
  position: fixed !important;
  top: 150px !important;
  right: 100px !important;
}

.delete-post {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

div#go-to-signup {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  width: 150px;
  border-radius: 25px;
  cursor: pointer;
}

div#go-to-signup:hover {
  background-color: transparent;
  color: #000000;
}

div#auth {
  position: absolute;
  height: 50px;
  top: 300px;
  right: 20%;
  font-size: 25px;
  line-height: 50px;
}

form#signup-form {
  width: 100%;
  height: 400px;
  position: relative;
}

.password-check {
  position: absolute;
  top: 220px;
  width: 100%;
  height: 100px;
}

.password-check span {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 30px;
}

.password-check input {
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  height: 40px;
  width: 400px;
  font-size: 20px;
}

#signup-form .submit-form {
  top: 320px;
}

div#add-post {
  position: absolute;
  width: 170px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  top: 500px;
  right: 100px;
}

div#add-post:hover {
  background: transparent;
  color: #000000;
}

form#add-post-form {
  width: 100%;
  height: 400px;
  position: relative;
}

#add-post-form .submit-form {
  top: 320px;
}

#add-post-form .login {
  width: 600px;
}
